/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1{
  text-align: center;
  margin-bottom: 15px;
}
.row{
  width:100%;
}
.section {
  width: 90%;
  border: 1px solid black;
  background-color: 	#989898;
  height: 300px;
  margin-top:10px;
  overflow:auto;


  font-family: Helvetica;

}

#title1,#title2,#title3{
  font-size:150%;
  float:right;
  padding-top: 0px;
  margin-top:0px;
  width:30%;
  text-align:center;
  border: 1px solid black;
  position:relative;
  color: white;
  height:13%;
  font-weight: bold;

}
#title1{
  background-color: #FFCCFF;
  color:black;
}

#title2{
  background-color: #CC3333;
}

#title3{
  background-color: #FFCC33;
}

#content{

  float:left;
  font-size:150%;
  margin-top: auto;
  text-align: center;
  overflow: auto;

}



/********** Large devices only **********/
@media(min-width:992px){
  .section{
    float:left;
    width:33%
  }
}

/********** Medium devices only **********/
@media (min-width:768px) and (max-width:991px){
  #s1{
    float:left;
    width:50%;
  }
  #s2{
    float:left;
    width:50%;
  }
  #s3{
    float:left;
    width:100%;
  }

}
